* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #e1e1e1;
}

body {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  background-color: #222222;

  align-items: center;
}

.wrapper {
  background-color: #2e2e2e;
  border-radius: 17px;
  padding: 22px 18px;
  margin: 12px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plot {
  background-color: #2e2e2e;
  border-radius: 8px;

  padding: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  text-decoration: none;
  background-color: #0075af;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 18px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: #005f8f;
}

/* input {
  border: 2px solid #848484;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 18px;
  font-weight: 600;
  width: 240px;
} */

input {
  border: none;
  outline: none;
  background-color: #222222;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 18px;
  width: 240px;
  font-weight: 600;
}

label {
  font-size: 18px;
  font-weight: 600;
}

form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.params-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.params {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.params > div {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.presets {
  display: flex;
  justify-content: space-evenly;
  gap: 12px;
}

.download {
  padding: 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download > img {
  width: 24px;
  height: 24px;
}